/* START border-box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END border-box fix */

body{
  padding: 0;
  margin: 0;
   display: flex; /* set max width of .container but display body as flex and center it's content*/
    justify-content: center; /* this centers the contents of the body like .container */
  
}

h1, h2, h4, h5, h6{
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}

.container {
  color: white;
  display: flex; /* use flex box */
  flex-wrap: wrap; /* wrap */
    max-width: 1000px;
}

header {
  background: darkred;
  flex: 1 0 100%; /* grow on, shrink off, span width of browser */
    order: 1; /* Display order regardless of html structure */
}
main {
  background: palevioletred;
  flex: 1 0 500px; /* grow on, shrink off, span width of browser */
    order: 3;
}

nav{
  background:rebeccapurple;
  flex: 1 0 200px; /* grow on, shrink off, span width of browser */
    order: 2;
}
aside {
  background: mediumpurple;
  flex: 1 0 200px; /* grow on, shrink off, span width of browser */
    order: 4;
}
footer {
  background: indianred;
  flex: 1 0 100%; /* grow on, shrink off, span width of browser */
    order: 5;
}