html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END border-box fix */

body{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: Papyrus;
}


.container{
  background: white;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 80%;
  margin: 0 auto;
}

.container > *{
  padding: 20px;
}

header{
  background: #a87b7f;
  grid-column: 1/13;
  text-align: center;
}

main{
  background: #7a497a;
  grid-column: 4/10;

}

nav{
  background: #966f73;
  grid-column: 1/4;
}

aside{
  background: #966f73;
  grid-column: 10/13;
}

main, nav, aside {
  grid-row: 2/4;
}

footer{
  background: #a87b7f;
  grid-column: 1/13;
}